// imports
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap');

// colors
$primary_color:#042A2B;
$secondary_color:#EF7B45;
$secondary_btn:#D84727;
$light_text_color:#ffffff;
$dark_text-color:#000000;

@mixin global_width{
    width:90%;
    margin:auto;
}

body,h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-family: 'Red Hat Display', sans-serif;
}
body{
    overflow-x: hidden;
}
p{
    margin: 0;
}

h1{
    font-size:4rem;
}
h3{
    font-size:3.4rem;
}

.container{
    @include global_width();
}

.page-heading{
    text-align: center;
}


// navbar

.nav-absolute{
    position: absolute;

    .nav{
        color: $light_text_color;
    }
    .toggle-btn:before{
        background: $light_text-color;
    }
    .toggle-btn:after{
        background: $light_text-color;
    }
    .toggle-btn{
        background: $light_text-color;
    }
}
nav{
    width:100%;
    position: relative;
    top:0;
    left: 0;
    z-index: 10;
    .nav{
        display: flex;
        color: $dark_text-color ;
        justify-content: space-between;
        align-items: center;
    }


    .brand{
        padding: 20px 0px;
        font-weight: bold;
        span{
            color: $secondary_color;
        }
    }

    .nav-list{

        position: fixed;
        top:0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: $secondary_color;
        display: flex;
        align-items: center;
        

        ul{
            list-style: none;
        }
        li{
            margin: 5px 0px 5px 10px;

            a{
                color:$dark_text_color;
                text-decoration: none;
                padding: 10px 10px;
                font-size: 4.8rem;
                font-weight: bold;
            }
        }
    }
    .false{
        transform: translateY(-100vh);
        transition: 0.4s;
        height: 0px;
    }

    .true{
        transform: translateY(0vh);   
        transition: 0.4s ease-in-out; 
         
    }
}

@media (max-width:800px){
    .nav{
        .nav-list{
            li{
                a{
                    font-size: 3.4rem;
                }
            }
        }
    }
}


.toggle{
    padding: 20px;
    cursor: pointer;
    position: relative;
    z-index: 20;
}

.toggle-btn{
    width:50px;
    height: 3px;
    background: $dark_text-color;
    position: relative;
}

.toggle-btn:after{
    content:'';
    display: block;
    position: absolute;
    top:-10px;
    left:0;
    width:50px;
    height: 3px;
    background: $dark_text_color;
}

.toggle-btn:before{
    content:'';
    display: block;
    position: absolute;
    top:10px;
    left:0;
    width:50px;
    height: 3px;
    background: $dark_text_color;
}


// banner header

.header-banner{

    background: $primary_color;
    position: relative;
    color:$light_text_color;

    #banner-vid, #banner-gradient{
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }

    #banner-gradient{
        background-image: linear-gradient( #042a2b9d, $primary_color);
        height: 100vh;
        z-index: 2;
    }
}

.header-banner-heading{
    min-height: 100vh;
    display:flex;
    align-items: flex-end;
    position: relative;
    z-index: 5;
    h1{
        font-size: 8vw;
        width:80%;
        margin: 30px 0px;
    }
}



.header-banner-txt{
    padding: 80px 0px 40px 0px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    p{
        font-size: 1.6rem;
    }
    >div{
        width: 45%;
    }
}

// testimonial

.testimonial-user-card{

    width:70%;
    display: flex;
    justify-content: space-around;
    background: $light_text_color;
    color:$dark_text-color;
    padding: 10px 15px;
    margin: 20px auto 40px auto;
    border-radius: 5px;


    .testimonial-user-img{
        img{
            width:40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
            margin: 0px 5px 5px 5px;
        }
    }

    .testimonial-user-txt{
        p{
            font-size: 0.8rem;
            font-style: italic;
        }
    }

}


// buttons

.btn-group{

    .btn{
        margin: 40px auto;
        display: flex;
        text-align: center;
        a{
            padding: 10px 20px;
            color: $light_text-color;
            text-decoration: none;
            background: $secondary_btn;
            width: 90%;
        }
    }

    
    :nth-child(even) {
        a{
            background: $secondary_color;
        }
    }
}



@media (max-width:900px){
    .header-banner-heading{
        h1{
            font-size: 3.8rem;
            width:100%;
        }
    }
}

@media(max-width:800px){
    .header-banner-txt{
        display: block;

        >div{
            width: 100%;
        }
    }
    .testimonial-user-container{
        display: flex;
        >div{
            margin: 10px;
        }
    }
}

// HOME-ABOUT

.home-about{
    background: $secondary_color;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: center;
    color: $dark_text-color;
    .container{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        >div{
            width: 80%;
        }

        .home-about-txt{
            h1{
                color: rgba(255, 255, 255, 0.795);
                opacity: 0.1;
                font-size: 7rem;
                line-height: 7rem;
                text-align: right;
                width: 50%;
                position: absolute;
                right: 0;
                top: 0;
            }
            p{
                font-size: 2rem;
            }
            h4{
                margin: 20px 0px;
            }
            .service-lists{
                display: flex;
                justify-content: flex-start;
            }
        }
    }
}

.home-about-vid{
    width: 80%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    .home-vid-filter{
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(90deg, rgba(221, 90, 50, 0.253) 60%, $secondary_color 95%);
        z-index: 2;
    }
    .home-vid-container{
        overflow: hidden;
        width:100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        video{
            top: 0;
        }
    }
}

@media (max-width:800px){
    .home-about{
        .home-about-vid{
            display: none;
        }
        .container{
            display: block;
            >div{
                width: 100%;
            }
        }

        .home-about-txt{
            h1{
                display: none;
            }
        }
    }
}

// HOME-WORK


.home-work{
    background: $secondary_color;
    padding: 0px 0px 40px 0px;
    .home-work-txt{
        padding-top: 50px;
    }
}

.home-work-cards-container{
    :nth-child(even){
        .home-work-card-img{
            order: 2;
        }
        .home-work-card-txt{
            >div{
                right: -20%;
                left: auto;
            }
        }
    }

    a{
        color: $dark_text-color;
        text-decoration: none;
    }
}

.home-work-card{
    display: flex;
    margin: 100px auto;

    

    .home-work-card-img{
        width:60%;
        position:relative;
        .home-work-filter{
            position: absolute;
            width:100%;
            height: 100%;
            z-index: 1;
            background: #ef7b4544;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .home-work-card-txt{
        width:40%;
        position: relative;


        >div{
            position: absolute;
            left:-20%;
            bottom: -15%;
            z-index:3;
        }
    }

}

@media (max-width:800px){
    .home-work-card{
        display: block;

        .home-work-card-img,.home-work-card-txt{
            width:100%
        }

        .home-work-card-txt{
            >div{
                position: relative;
                top:auto;
                right:auto;
                bottom:auto;
                left:auto;
            }
        }
    }
    .home-work-cards-container{
        :nth-child(even){
            .home-work-card-txt{
                >div{
                    right: auto;
                    left: auto;
                    position: relative;
                }
            }
        }
    }
}

// home-cta

.home-cta{
    background: $primary_color;
    color: $light_text_color;
    padding: 40px 0px;
    text-align:center;

    h1{
        span{
            color: $secondary_color;
        }
    }

    p{
        font-size: 1.6rem;
        margin: 20px auto;
        width: 80%;
    }
}

@media (max-width:800px){
    .home-cta{
        p{
            width: 100%;
        }
    }
}

// Footer

footer{
    background: $primary_color;
    color:$light_text_color;
    padding: 40px 0px;
    >div{
        display: flex;
        justify-content: space-between;

        >div{
            width:40%;
        }

        h1{
            span{
                color:$secondary_color;
            }
        }

        p{
            font-size: 1.6rem;
            margin: 10px auto;
        }
    }

    a{
        color:$light_text_color;
        text-decoration: none;
        span{
            color:$secondary_color
        }
    }

    .footer-menu{
        .nav-list{
            li{
                margin: 10px 20px 10px 0px;
                font-size: 1.2rem;
            }
        }
    }
}

footer{
    ul{
        list-style: none;
        padding: 0;
        li{
            display: inline-block;
            margin: 10px 20px 10px 0px;
        }
    }
}

.copyrights{
    justify-content: center;
    margin: 50px auto;
    text-align: center;
}


@media (max-width:800px){
    footer{
        >div{
            display: block;
            >div{
                width: 100%;
            }
        }
    }
}

// WORK PAGE

.work-cards-container{
    // :nth-child(even){
    //     .hwork-card-img{
    //         order: 2;
    //     }
    //     .home-work-card-txt{
    //         >div{
    //             right: -20%;
    //             left: auto;
    //         }
    //     }
    // }

    a{
        color: $dark_text-color;
        text-decoration: none;
    }
}

.work-card{
    margin: 50px auto;


    .work-card-img{
        width:100%;
        position:relative;
        height: 60vh;
        .home-work-filter{
            position: absolute;
            width:100%;
            height: 100%;
            z-index: 1;
            background: #ef7b4570;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .work-card-txt{
        width:40%;
        position: relative;


        >div{
            position: relative;
            z-index:3;
        }
    }

}

@media (max-width:800px){
    .work-card{
        display: block;

        .work-card-img,.work-card-txt{
            width:100%
        }

        .work-card-txt{
            >div{
                position: relative;
                top:auto;
                right:auto;
                bottom:auto;
                left:auto;
            }
        }
    }
    .work-cards-container{
        :nth-child(even){
            .home-work-card-txt{
                >div{
                    right: auto;
                    left: auto;
                    position: relative;
                }
            }
        }
    }
}

// TEAM

.teams-cards{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 50px auto;
}

.team-card{
    margin: 10px;
    .team-card-photo{
        height: 60vh;
        img{
            width:100%;
            height: 100%;
            object-fit: cover;
            border-radius: 20px;
        }
    }
    .team-card-txt{
        margin: 10px auto;
        text-align: center;
    }
}
.team-cta{
    display: flex;
    justify-content: center;
    >div{
        width:80%
    }
}

@media (max-width:800px){
    .teams-cards{
        grid-template-columns: auto auto;
    }
}
@media (max-width:500px){
    .teams-cards{
        grid-template-columns: auto;
    }
}


// accordian

.accordian{
    background: $secondary_color;
    padding: 40px 0px;
}

.faq-card{
    width: 70%;
    margin: 10px auto;
    text-align: center;
    border-top: thin solid $secondary_btn;
    // border-bottom: thin solid $secondary_btn;

    .faq-ques{
        padding:10px 0px;
        cursor: pointer;
    }

    .faq-ans{
        // background: #ee8352;
        text-align: left;
    }

    .false{
        transition: 0.6s ease;
        height: 0;
        overflow: hidden;
        // transform: translateY(-50px);
        opacity: 0;
    }
    .true{
        transition: 0.6s ease;
        opacity: 1;
        // transform: translateY(0px);
        height: auto ;
        padding: 10px;
        overflow: auto;
    }
}

// PROJECT

.project{
    *{
        margin: 20px auto;
    }

    .project-img{
        img{
            width:100%;
            object-fit: cover;
        }
    }
}