@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,400;0,700;0,900;1,400;1,700&display=swap");
body, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: 'Red Hat Display', sans-serif;
}

body {
  overflow-x: hidden;
}

p {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 3.4rem;
}

.container {
  width: 90%;
  margin: auto;
}

.page-heading {
  text-align: center;
}

.nav-absolute {
  position: absolute;
}

.nav-absolute .nav {
  color: #ffffff;
}

.nav-absolute .toggle-btn:before {
  background: #ffffff;
}

.nav-absolute .toggle-btn:after {
  background: #ffffff;
}

.nav-absolute .toggle-btn {
  background: #ffffff;
}

nav {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  z-index: 10;
}

nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000000;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .brand {
  padding: 20px 0px;
  font-weight: bold;
}

nav .brand span {
  color: #EF7B45;
}

nav .nav-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #EF7B45;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-list ul {
  list-style: none;
}

nav .nav-list li {
  margin: 5px 0px 5px 10px;
}

nav .nav-list li a {
  color: #000000;
  text-decoration: none;
  padding: 10px 10px;
  font-size: 4.8rem;
  font-weight: bold;
}

nav .false {
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  height: 0px;
}

nav .true {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
  -webkit-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

@media (max-width: 800px) {
  .nav .nav-list li a {
    font-size: 3.4rem;
  }
}

.toggle {
  padding: 20px;
  cursor: pointer;
  position: relative;
  z-index: 20;
}

.toggle-btn {
  width: 50px;
  height: 3px;
  background: #000000;
  position: relative;
}

.toggle-btn:after {
  content: '';
  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  width: 50px;
  height: 3px;
  background: #000000;
}

.toggle-btn:before {
  content: '';
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  width: 50px;
  height: 3px;
  background: #000000;
}

.header-banner {
  background: #042A2B;
  position: relative;
  color: #ffffff;
}

.header-banner #banner-vid, .header-banner #banner-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-banner #banner-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#042a2b9d), to(#042A2B));
  background-image: linear-gradient(#042a2b9d, #042A2B);
  height: 100vh;
  z-index: 2;
}

.header-banner-heading {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  z-index: 5;
}

.header-banner-heading h1 {
  font-size: 8vw;
  width: 80%;
  margin: 30px 0px;
}

.header-banner-txt {
  padding: 80px 0px 40px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-banner-txt p {
  font-size: 1.6rem;
}

.header-banner-txt > div {
  width: 45%;
}

.testimonial-user-card {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #ffffff;
  color: #000000;
  padding: 10px 15px;
  margin: 20px auto 40px auto;
  border-radius: 5px;
}

.testimonial-user-card .testimonial-user-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0px 5px 5px 5px;
}

.testimonial-user-card .testimonial-user-txt p {
  font-size: 0.8rem;
  font-style: italic;
}

.btn-group .btn {
  margin: 40px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.btn-group .btn a {
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  background: #D84727;
  width: 90%;
}

.btn-group :nth-child(even) a {
  background: #EF7B45;
}

@media (max-width: 900px) {
  .header-banner-heading h1 {
    font-size: 3.8rem;
    width: 100%;
  }
}

@media (max-width: 800px) {
  .header-banner-txt {
    display: block;
  }
  .header-banner-txt > div {
    width: 100%;
  }
  .testimonial-user-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .testimonial-user-container > div {
    margin: 10px;
  }
}

.home-about {
  background: #EF7B45;
  min-height: 100vh;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
}

.home-about .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.home-about .container > div {
  width: 80%;
}

.home-about .container .home-about-txt h1 {
  color: rgba(255, 255, 255, 0.795);
  opacity: 0.1;
  font-size: 7rem;
  line-height: 7rem;
  text-align: right;
  width: 50%;
  position: absolute;
  right: 0;
  top: 0;
}

.home-about .container .home-about-txt p {
  font-size: 2rem;
}

.home-about .container .home-about-txt h4 {
  margin: 20px 0px;
}

.home-about .container .home-about-txt .service-lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.home-about-vid {
  width: 80%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.home-about-vid .home-vid-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(60%, rgba(221, 90, 50, 0.253)), color-stop(95%, #EF7B45));
  background-image: linear-gradient(90deg, rgba(221, 90, 50, 0.253) 60%, #EF7B45 95%);
  z-index: 2;
}

.home-about-vid .home-vid-container {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.home-about-vid .home-vid-container video {
  top: 0;
}

@media (max-width: 800px) {
  .home-about .home-about-vid {
    display: none;
  }
  .home-about .container {
    display: block;
  }
  .home-about .container > div {
    width: 100%;
  }
  .home-about .home-about-txt h1 {
    display: none;
  }
}

.home-work {
  background: #EF7B45;
  padding: 0px 0px 40px 0px;
}

.home-work .home-work-txt {
  padding-top: 50px;
}

.home-work-cards-container :nth-child(even) .home-work-card-img {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.home-work-cards-container :nth-child(even) .home-work-card-txt > div {
  right: -20%;
  left: auto;
}

.home-work-cards-container a {
  color: #000000;
  text-decoration: none;
}

.home-work-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px auto;
}

.home-work-card .home-work-card-img {
  width: 60%;
  position: relative;
}

.home-work-card .home-work-card-img .home-work-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #ef7b4544;
}

.home-work-card .home-work-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.home-work-card .home-work-card-txt {
  width: 40%;
  position: relative;
}

.home-work-card .home-work-card-txt > div {
  position: absolute;
  left: -20%;
  bottom: -15%;
  z-index: 3;
}

@media (max-width: 800px) {
  .home-work-card {
    display: block;
  }
  .home-work-card .home-work-card-img, .home-work-card .home-work-card-txt {
    width: 100%;
  }
  .home-work-card .home-work-card-txt > div {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  .home-work-cards-container :nth-child(even) .home-work-card-txt > div {
    right: auto;
    left: auto;
    position: relative;
  }
}

.home-cta {
  background: #042A2B;
  color: #ffffff;
  padding: 40px 0px;
  text-align: center;
}

.home-cta h1 span {
  color: #EF7B45;
}

.home-cta p {
  font-size: 1.6rem;
  margin: 20px auto;
  width: 80%;
}

@media (max-width: 800px) {
  .home-cta p {
    width: 100%;
  }
}

footer {
  background: #042A2B;
  color: #ffffff;
  padding: 40px 0px;
}

footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer > div > div {
  width: 40%;
}

footer > div h1 span {
  color: #EF7B45;
}

footer > div p {
  font-size: 1.6rem;
  margin: 10px auto;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a span {
  color: #EF7B45;
}

footer .footer-menu .nav-list li {
  margin: 10px 20px 10px 0px;
  font-size: 1.2rem;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  display: inline-block;
  margin: 10px 20px 10px 0px;
}

.copyrights {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px auto;
  text-align: center;
}

@media (max-width: 800px) {
  footer > div {
    display: block;
  }
  footer > div > div {
    width: 100%;
  }
}

.work-cards-container a {
  color: #000000;
  text-decoration: none;
}

.work-card {
  margin: 50px auto;
}

.work-card .work-card-img {
  width: 100%;
  position: relative;
  height: 60vh;
}

.work-card .work-card-img .home-work-filter {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: #ef7b4570;
}

.work-card .work-card-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.work-card .work-card-txt {
  width: 40%;
  position: relative;
}

.work-card .work-card-txt > div {
  position: relative;
  z-index: 3;
}

@media (max-width: 800px) {
  .work-card {
    display: block;
  }
  .work-card .work-card-img, .work-card .work-card-txt {
    width: 100%;
  }
  .work-card .work-card-txt > div {
    position: relative;
    top: auto;
    right: auto;
    bottom: auto;
    left: auto;
  }
  .work-cards-container :nth-child(even) .home-work-card-txt > div {
    right: auto;
    left: auto;
    position: relative;
  }
}

.teams-cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  margin: 50px auto;
}

.team-card {
  margin: 10px;
}

.team-card .team-card-photo {
  height: 60vh;
}

.team-card .team-card-photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.team-card .team-card-txt {
  margin: 10px auto;
  text-align: center;
}

.team-cta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team-cta > div {
  width: 80%;
}

@media (max-width: 800px) {
  .teams-cards {
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}

@media (max-width: 500px) {
  .teams-cards {
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
}

.accordian {
  background: #EF7B45;
  padding: 40px 0px;
}

.faq-card {
  width: 70%;
  margin: 10px auto;
  text-align: center;
  border-top: thin solid #D84727;
}

.faq-card .faq-ques {
  padding: 10px 0px;
  cursor: pointer;
}

.faq-card .faq-ans {
  text-align: left;
}

.faq-card .false {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.faq-card .true {
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  opacity: 1;
  height: auto;
  padding: 10px;
  overflow: auto;
}

.project * {
  margin: 20px auto;
}

.project .project-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=global.css.map */